<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/help.css">
    <title>Document</title>
</head>
<body>
    <h2>ゲーム概要</h2>
    <p>このゲームは、インターネット上で、P2Pを使用しインターネット対戦に対応したオセロゲームです。<br>
    HTML/CSS、JavaScriptを用いて作りました。</p>
    <p></p>

    <h2>操作方法</h2>
    <p>マウス上での操作となります。自分の色の駒で相手の駒を挟んだら、その間の駒を自分の色に変えることができます。<br>
        挟める方向は、縦・横・斜めの方向に挟めます。<br>
    </p>

    <h2>勝利条件</h2>
    <p>１.盤面がすべて埋まったときに相手の駒の総数よりも、自分の駒の総数が多ければ勝ち。<br>
       ２.盤面がすべて埋まらずとも、相手の駒をすべて自分の駒の色に変えたら勝ち。
    </p>
    <h2>終了条件</h2>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

    <div>
        <p>バージョン1.0.0</p>
        <p>作者：八重畑　祐太</p>
    </div>
    <a href="./title.html" class="btn">戻る</a>
</body>
</html>